:root {
 /* --bg-color: #e0cda6;        /* soft sand */
  --text-color: #3e3120;        /* earthy brown */
  --subtext-color: #a39e82;     /* sage green-gray */
  --highlight-color: #beba99;   /* soft sage */
  --navbar-bg: #5f5240;         /* pale warm beige */
  --card-bg: #cfdbaa;
  --btn-bg: #a98467;            /* clay brown */
  --btn-text: #4a3a1d;
  --btn-hover-bg: #9c6644;
  --btn-hover-border: #7f5539;
  
}

[data-theme='dark'] {
  --bg-color: #1e1f1a;
  --text-color: #eaeaea;
  --subtext-color: #d1d5db;
  --highlight-color: #4ade80;
  --card-bg: #2e3026;
  --navbar-bg: #303908;
  --btn-bg: #2e7d32;
  --btn-text: #ffffff;
  --btn-hover-bg: #388e3c;
  --btn-hover-border: #4caf50;
}



h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--link-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--text-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  color: var(--btn-text);
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s, color 0.25s;
}

button:hover {
  border-color: var(--btn-hover-border);
  background-color: var(--btn-hover-bg);
}

button:focus,
button:focus-visible {
  outline: 3px solid var(--btn-focus-outline);
  outline-offset: 2px;
}



